.first-div {
  margin-top: 50px;
}

.second-div {
  margin-top: 20px;
}

.third-div {
  margin-top: 100px;
  padding: 50px 50px;
}

.forth-div {
  margin-top: 50px;
}

.fifth-div {
  margin-top: 20px;
  margin-bottom: 50px;
  padding: 20px 20px;
}
