.first-div {
  margin-top: 50px;
}

.second-div {
  margin-top: 20px;
}

.third-div {
  margin-top: 100px;
  padding: 50px 50px;
}

.forth-div {
  margin-top: 50px;
}

.fifth-div {
  margin-top: 20px;
  margin-bottom: 50px;
  padding: 20px 20px;
}

#error,
#emsg {
  color: red;
}

tbody {
  text-align: center;
}

.visited {
  padding: 10px;
  width: 500px;
}

#city-input {
  width: 250px;
}
